<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="LeukemiaConnectionString" connectionString="Data Source=.;Initial Catalog=Leukemia;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
   <membership defaultProvider="p">
      <providers>
        <add connectionStringName="LeukemiaConnectionString" requiresUniqueEmail="false" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" applicationName="/" name="p" type="System.Web.Security.SqlMembershipProvider"/>
      </providers>
    </membership>
    <authentication mode="Forms"/>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
</configuration>